@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../src/Roboto-Medium-webfont.eot");
  src: url("../src/Roboto-Medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../src/Roboto-Medium-webfont.woff2") format("woff2"),
    url("../src/Roboto-Medium-webfont.woff") format("woff"),
    url("../src/Roboto-Medium-webfont.ttf") format("truetype"),
    url("../src/Roboto-Medium-webfont.svg#roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../src/Roboto-Bold-webfont.eot");
  src: url("../src/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../src/Roboto-Bold-webfont.woff2") format("woff2"),
    url("../src/Roboto-Bold-webfont.woff") format("woff"),
    url("../src/Roboto-Bold-webfont.ttf") format("truetype"),
    url("../src/Roboto-Bold-webfont.svg#roboto") format("svg");
}
* {
  font-family: "Roboto", Arial, sans-serif;
  font-size-adjust: 100%/1.4;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}
ol,
ul,
dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  display: inline-block;
  vertical-align: top;
}
ol li {
  display: block;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  cursor: default;
}
span {
  display: inline-block;
  vertical-align: top;
}
address,
cite,
var,
i {
  font-style: normal;
  display: inline-block;
}
